* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxes {
	margin: 20px;
	display: grid;
	grid-template-columns: 100px 100px 100px;
	background-color: lightgray;
	gap: 10px;
}

.box {
	font-size: 150%;
	background-color: royalblue;
	padding: 20px;
	text-align: center;
}

.boxesTwo .box {
	background-color: darkgray;
}

.boxesTwo .box-a {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.boxesTwo .box-b {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.boxesTwo .box-c {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.boxesTwo .box-d {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.boxesThree {
	display: grid;
	margin: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.boxesThree .box {
	background-color: darkred;
	color: white;
}

.boxesFour .box-a {
	color: white;
	background-color: black;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.boxesFour .box-b {
	color: white;
	background-color: darkred;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.boxesFour .box-c {
	color: white;
	background-color: darkblue;
	grid-column: 3 / 3;
	grid-row: 2 / 3;
}

.boxesFive .box {
	background-color: green;
}

.boxesFive .box-a {
	background-color: lightgreen;
	grid-area: 2 / 3 / 2 / 2;
}

.boxesSix .box {
	background-color: #80c880;
}

.boxesSix .box-a {
	grid-column: 1 / 3;
}

.boxesSix .box-b {
	grid-column: 3 / 3;
	grid-row: 1 / 3;
}

.boxesSeven {
	grid-template-columns: [col1-start] 100px [col2-start] 100px [col3-start] 100px;
	grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.boxesSeven .box {
	background-color: chocolate;
	color: white;
}

.boxesSeven .box-a {
	grid-column: col1-start / col3-start;
	grid-row: row1-start;
}

.boxesSeven .box-b {
	grid-column: col3-start;
	grid-row: row1-start / row2-end;
}

.boxesEight {
	grid-template-columns: repeat(4, [col] 100px);
	grid-template-rows: repeat(3, [row] auto);
}

.boxesEight .box {
	background-color: navy;
	color: white;
}
.boxesEight .box-a {
	grid-column: col / span 2;
}
.boxesEight .box-b {
	grid-column: col 3 / span 2;
	grid-row: row / span 2;
}

.boxesEight .box-g {
	grid-column: col 3 / span 2;
}

.boxesNine {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-areas:
		"header header header"
		"sidebar content content";
}

.boxesNine .box {
	background-color: brown;
	color: white;
}

.boxesNine .header {
	grid-area: header;
}

.boxesNine .sidebar {
	grid-area: sidebar;
}

.boxesNine .content {
	grid-area: content;
}

.boxesTen {
	grid-template-columns: auto;
	grid-template-areas:
		"header header header"
		"sidebar content content"
		"footer footer footer";
}

.boxesTen .header {
	grid-area: header;
}

.boxesTen .sidebar {
	grid-area: sidebar;
}

.boxesTen .content {
	grid-area: content;
}

.boxesTen .footer {
	grid-area: footer;
}
