* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxesOne {
	margin: 20px;
	display: grid;
	grid-template-columns: 100px 100px 100px;
	background-color: lightgray;
	gap: 10px;
}

.box {
	font-size: 150%;
	background-color: royalblue;
	padding: 20px;
	text-align: center;
}
